
.container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;

    /*TODO: upscale image*/
    background-image: url("./../../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
}

.links-container, .search-container {
    width: 25%;
    height: 100%;
    background-color: green;
}

.title-container {
    width: 30%;
    height: 100%;
}

.img-container, .profile-container {
    width: 10%;
    height: 100%;
    background-color: blue;
}